@import url(https://fonts.loli.net/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap);

* {
    font-family: "EB Garamond", source-han-serif-sc, "source han serif sc",
        "source han serif cn", "source han serif tc", "source han serif tw",
        "source han serif", "simsun", songti sc, microsoft yahei, serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

#app {
    margin-top: 17px;
    display: inline-block;
    width: 100%;
    max-width: 961px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    color: #666;
}

.image {
    cursor: pointer;
    width: 460px;
    height: 180px;
    left: calc(50% - 230px);
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.3s;
}

.image:hover {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.text {
    text-align: end;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.placeholder {
    left: calc(50% - 230px);
    text-align: center;
    height: 180px;
    line-height: 180px;
    padding: 0;
    margin: 0;
    width: 460px;
}

.social {
    display: inline-flex;
    width: 250px;
    margin: 0 0 7px 0;
}

.social img {
    width: 30px;
    height: 30px;
    display: inline;
    margin: 5px;
    margin-right: 10px;
}

.social input {
    display: inline;
    width: 100%;
}

.el-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% + 127px);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
